body {
    
    background-image: url("../images/background.jpg");

}

table, th, td {
    border: 1px solid  black;
    color: whitesmoke;
}

td {

    padding: 5px 5px;

}

div.minimalDiv {

    background-color:  #2e3536;
    border: 3px solid #34ebd2;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 10px;
    width: auto;

}

a.minimalButton {

    border: 3px solid black;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin: 10px 10px;
    padding: 10px 10px;
    text-decoration: none;

}

a.minimalButton:hover {

    background-color: black;

}

p.minimalText {

    color: whitesmoke;
    display: inline-block;
}

img {

    display: inline-block;
    vertical-align: middle;

}